.jumbotron {

color: white;
text-align: center;
height: 375px;
width: 100%;
border: 0px;

}

.panel {
 
  height: 50px;
  margin-top: -50px;
    border-top-width: 2px !important;
    border-right-width: 2px !important;
    border-bottom-width: 2px !important;
    border-left-width: 2px !important;
    padding-bottom: 20px !important;
    background-color: #e4f1fc !important;
    border-left-color: #80c0c4 !important;
    border-left-style: solid !important;
    border-right-color: #80c0c4 !important;
    border-right-style: solid !important;
    border-top-color: #80c0c4 !important;
    border-top-style: solid !important;
    border-bottom-color: #80c0c4 !important;
    border-bottom-style: solid !important;

}