#one.thumbnail {
background: url('Echinus_2.jpg') no-repeat left center;
}



#two.thumbnail {
background: url('boatSunset-SeaGrant.jpg') no-repeat center bottom;
}



#three.thumbnail {
background: url('iStockLobster.jpg') no-repeat center center;
}