#one.thumbnail {
background: url('Echinus_2.jpg') no-repeat left center;
}



#two.thumbnail {
background: url('boatSunset-SeaGrant.jpg') no-repeat center bottom;
}



#three.thumbnail {
background: url('iStockLobster.jpg') no-repeat center center;
}

.thumbnail {
    position:relative;
    overflow:hidden;
}
 
#one.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(90, 90, 90, 1.0);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align: left;
    color:#fff !important;
    z-index:2;
}